<template>
  <v-row>
    <v-col cols="12">
      <v-breadcrumbs
        :items="breadcrumb"
        class="page-details__breadcrumb--padding"
      >
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item :to="item.href" :disabled="item.disabled">
            {{ item.text }}
          </v-breadcrumbs-item>
        </template>
        <template v-slot:divider>
          <v-icon size="8">fas fa-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
    </v-col>
    <v-col cols="12">
      <v-card elevation="0" outlined>
        <v-card-text>
          <v-row class="pa-4" align="center">
            <v-avatar size="80" color="grey lighten-2">
              <v-img :src="user.avatar"></v-img>
            </v-avatar>
            <h2 class="ml-4">{{ user.name }}</h2>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col :cols="getColumn" v-for="(post, index) in posts.data" :key="index">
      <v-card color="transparent" flat rounded="0">
        <v-img
          :height="getImageSize"
          :src="post.thumbnail"
          class="news-card__image--title"
        >
          <v-chip
            class="news-card__image--chip"
            v-if="post.category"
            small
            color="#005801"
            label
            :to="$ufo.joinURL('category', post.category.slug)"
          >
            {{ post.category.title }}
          </v-chip>
        </v-img>
        <v-card-title class="news-card__text--title">
          <NuxtLink
            :to="{
              name: 'slug',
              params: { slug: post.slug, title: post.title },
            }"
          >
            <span v-html="post.title"></span>
          </NuxtLink>
        </v-card-title>
        <v-card-subtitle class="news-card__text--subtitle">
          <v-icon size="12">far fa-clock</v-icon>
          <small>{{
            $moment(post.publishedAt).format('DD MMMM YYYY').toUpperCase()
          }}</small>
        </v-card-subtitle>
      </v-card>
    </v-col>
    <v-col cols="12">
      <v-pagination
        v-model="page"
        :length="posts.lastPage"
        total-visible="7"
        prev-icon="fas fa-chevron-left"
        next-icon="fas fa-chevron-right"
        class="news-card__pagination"
        @input="scrollToTop"
        color="info"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
export default {
  head() {
    return {
      title: 'Author',
    }
  },
  computed: {
    isTouch() {
      return this.$breakpoints.sMd
    },
    getSkeletonColumn() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 4
        case 'sm':
          return 4
        case 'md':
          return 3
        default:
          return 3
      }
    },
    getColumn() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 12
        case 'sm':
          return 6
        case 'md':
          return 4
        default:
          return 4
      }
    },
    getImageSize() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 175
        case 'sm':
          return 125
        case 'md':
          return 150
        case 'lg':
          return 150
        default:
          return 200
      }
    },
  },
  data() {
    return {
      breadcrumb: [
        { text: 'Home', disabled: false, href: '/' },
        { text: 'Author', disabled: true },
      ],
      page: 1,
      user: {
        name: null,
        avatar: null,
      },
      posts: {
        data: [],
        lastPage: null,
      },
    }
  },
  watch: {
    page: {
      handler() {
        this.fetchAuthorPost()
      }
    }
  },
  mounted() {
    this.fetchAuthorPost()
  },
  methods: {
    scrollToTop() {
      window.scrollTo(0, 0)
    },
    fetchAuthorPost() {
      this.$badaso.$post
        .author({
          username: this.$route.params.slug,
          page: this.page
        })
        .then((res) => {
          this.user = res.data.user
          this.posts = res.data.posts
        })
        .catch((err) => {
          console.error(err)
        })
    },
  },
}
</script>