.news-card {
  &__image {
    &--title {
      color: #ffffff !important;
      align-items: flex-end;
    }

    &--chip {
      margin: 16px;
      color: #ffffff !important;
    }
  }

  &__text {
    &--title {
      padding: 16px 16px 16px 0 !important;

      &>a {
        font-size: 1rem;
        line-height: 1.75rem;
        color: #002900;
        text-decoration: none;

        @media screen and (min-width: 768px) {
          font-size: 1.25rem;
          line-height: 2rem;
        }
      }

      & span {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
      }
    }

    &--subtitle {
      padding: 0 16px 16px 0 !important;
    }
  }

  &__pagination {
    & .v-icon.v-icon {
      font-size: 16px;
    }
  }

  &__skeleton {
    &--column {
      flex: 0 0 100% !important;
      max-width: 100% !important;

      @media screen and (min-width: 480px) {
        flex: 0 0 50% !important;
        max-width: 50% !important;
      }

      @media screen and (min-width: 768px) {
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333% !important;
      }
    }

    &>.v-skeleton-loader__image {
      border-radius: 0px;
      height: 175px;

      @media screen and (min-width: 480px) {
        height: 125px;
      }

      @media screen and (min-width: 768px) {
        height: 150px;
      }

      @media screen and (min-width: 992px) {
        height: 150px;
      }

      @media screen and (min-width: 1024px) {
        height: 200px;
      }
    }

    &>.v-skeleton-loader__heading {
      &:nth-child(2) {
        margin-top: 16px;
        width: 100%;
      }

      &:nth-child(3) {
        margin-top: 8px;
        width: 60%;
      }
    }

    &>.v-skeleton-loader__text {
      margin-top: 8px;
      width: 40%;
    }
  }
}

.category-card {
  &__image {
    &--title {
      color: #ffffff !important;
      align-items: flex-end;
    }

    &--chip {
      margin: 16px;
      color: #ffffff !important;
    }
  }

  &__text {
    &--title {
      padding: 16px 16px 16px 0 !important;

      &>a {
        font-size: 1rem;
        line-height: 1.75rem;
        color: #002900;
        text-decoration: none;

        @media screen and (min-width: 768px) {
          font-size: 1.25rem;
          line-height: 2rem;
        }
      }

      & span {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
      }
    }

    &--subtitle {
      padding: 0 16px 16px 0 !important;
    }
  }

  &__pagination {
    & .v-icon.v-icon {
      font-size: 16px;
    }
  }

  &__skeleton {
    &--column {
      flex: 0 0 100% !important;
      max-width: 100% !important;

      @media screen and (min-width: 480px) {
        flex: 0 0 50% !important;
        max-width: 50% !important;
      }

      @media screen and (min-width: 768px) {
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333% !important;
      }
    }

    &>.v-skeleton-loader__image {
      border-radius: 0px;
      height: 175px;

      @media screen and (min-width: 768px) {
        height: 125px;
      }

      @media screen and (min-width: 992px) {
        height: 150px;
      }

      @media screen and (min-width: 1024px) {
        height: 250px;
      }
    }

    &>.v-skeleton-loader__heading {
      &:nth-child(2) {
        margin-top: 16px;
        width: 100%;
      }

      &:nth-child(3) {
        margin-top: 8px;
        width: 60%;
      }
    }

    &>.v-skeleton-loader__text {
      margin-top: 8px;
      width: 40%;
    }
  }
}