.page-details {
  &__breadcrumb {
    &--padding {
      padding: 0 !important;

      @media screen and (min-width: 768px) {
        padding: 18px 12px;
        padding-left: 0px !important;
      }
    }
  }

  &__progress-bar {
    top: 0;
    position: fixed !important;
    z-index: 10 !important;
  }

  &__popular-card {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &--title {
      color: #003D01;
      font-size: 0.875rem !important;
      font-weight: 500;
      line-height: 1.375rem;
      letter-spacing: 0.0071428571em !important;

      @media screen and (min-width: 768px) {
        font-size: 18px !important;
      }
    }

    &--subtitle {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__post {
    &--detail {
      margin-bottom: 16px !important;
    }

    &--title {
      margin-bottom: 16px !important;
      font-size: 1.5rem;
  
      @media screen and (min-width: 768px) {
        font-size: 1.75rem;
      }
  
      @media screen and (min-width: 1024px) {
        font-size: 2rem;
      }
    }
  
    &--content {
      padding-top: 32px !important;

      & p, li {
        font-size: 14px !important;

        @media screen and (min-width: 768px) {
          font-size: 16px !important;
        }
      }
  
    }
  }

  &__skeleton {
    height: 200px;
    max-height: 200px;

    @media screen and (min-width: 768px) {
      height: 460px;
      max-height: 460px;
    }

    & > div {
      height: inherit;
    }
  }

  &__share {
    &--button {
      & > span {
        color: #ffffff;
      }
    }
  }

  &__user {
    &--text {
      margin-left: 8px;
      display: inline;

      text-transform: uppercase !important;
      font-family: "Roboto", sans-serif !important;
      font-weight: 500;
      font-size: 0.7rem !important;
      line-height: 1.25rem;
      letter-spacing: 0.15;

      @media screen and (min-width: 768px) {
        font-size: 0.75rem !important;
        line-height: 2rem;
        letter-spacing: 0.1666666667em !important;
      }

      & > a {
        text-decoration: none;
      }
    }

    &--hyphen {
      color: #b9b9b9;
    }
  }

  &__comment {
    &--position {
      float: right
    }

    &--container {
      margin-top: 16px;
      width: 100%;
    }

    &--container-padding {
      padding: 16px 0 !important;
    }

    &--facebook {
      & iframe {
        width: 100% !important;
      }
    }

    &--username {
      text-transform: capitalize;
    }

    &--reply {
      cursor: pointer;
    }

    &--button {
      margin-top: 16px;
      & > button {
        float: right;
      }
    }
  }

  &__previous {
    &:hover .page-details__previous--post-title {
      border-left: 10px solid #1e73be;
      transition: border-left 0.25s ease-in-out;
    }

    & > a {
      text-decoration: none !important;
    }

    &--title {
      font-weight: bold;
      margin-bottom: 8px !important;
      color: rgb(150, 150, 150);
    }

    &--post-title {
      font-weight: bold;
      border-left: 10px solid #eee;
      padding-left: 18px;
      transition: border-left 0.25s ease-in-out;
      color: #000000;
      font-weight: 500;
      font-family: "Roboto", sans-serif !important;
      font-size: 16px !important;
      
      @media screen and (min-width: 1024px) {
        font-size: 18px !important;
      }
    }
  }

  &__next {
    &:hover .page-details__next--post-title {
      border-left: 10px solid #1e73be;
      transition: border-left 0.25s ease-in-out;
    }

    & > a {
      text-decoration: none !important;
    }

    &--title {
      font-weight: bold;
      margin-bottom: 8px !important;
      color: rgb(150, 150, 150);
    }

    &--post-title {
      font-weight: bold;
      border-left: 10px solid #eee;
      padding-left: 18px;
      transition: border-left 0.25s ease-in-out;
      color: #000000;
      font-weight: 500;
      font-family: "Roboto", sans-serif !important;
      font-size: 16px !important;

      @media screen and (min-width: 1024px) {
        font-size: 18px !important;
      }
    }
  }
}