<template>
  <v-row no-gutters>
    <v-card color="transparent" width="100%" flat>
      <v-list-item three-line>
        <v-list-item-avatar size="36" color="#b9b9b9">
          <v-icon
            color="#ffffff"
            size="32"
            class="mt-2"
            v-if="!data.user.avatar"
            >fas fa-user</v-icon
          >
          <img :src="data.user.avatar" v-else alt="User Avatar" />
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title
            class="text-body-1 mb-2 page-details__comment--username"
          >
            {{ data.user.name }}
          </v-list-item-title>
          <p class="text-subtitle-1">{{ data.content }}</p>
          <v-list-item-subtitle class="mt-2 text-caption">
            {{ $moment(data.createdAt).format('DD MMMM YYYY HH:mm:ss') }}
            <span
              class="ml-4 page-details__comment--reply"
              v-if="hasReplyButton"
              @click="isCommentOpened = !isCommentOpened"
              >Reply</span
            >
          </v-list-item-subtitle>
          <template v-if="isCommentOpened">
            <v-row no-gutters>
              <v-col cols="12">
                <v-textarea
                  outlined
                  rows="1"
                  auto-grow
                  hide-details
                  color="#005801"
                  denses
                  class="mt-4"
                  label="Comment"
                  placeholder="Write your comment ..."
                  v-model="commentValue"
                ></v-textarea>
              </v-col>
              <v-col cols="12" class="page-details__comment--button">
                <v-btn
                  color="#005801"
                  class="white--text"
                  @click="insertNewComment"
                >
                  Post
                </v-btn>
              </v-col>
            </v-row>
          </template>
          <v-persis-comment
            :data="commentData"
            v-for="(commentData, index) in data.children"
            class="pl-0 mt-2"
            :key="index"
          ></v-persis-comment>
        </v-list-item-content>
      </v-list-item>
      <slot name="divider"></slot>
    </v-card>
  </v-row>
</template>
<script>
export default {
  data() {
    return {
      isCommentOpened: false,
      commentValue: null,
    }
  },
  props: {
    data: {
      type: Object | Array,
      required: true,
    },
    hasReplyButton: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    insertNewComment() {
      this.data.children.push({
        content: this.commentValue,
        createdAt: '2021-05-25 04:13:50',
        id: '608d5431-4f8c-4ef2-bd25-240a716cea31',
        parentId: '97586199-f98a-4505-9753-9c5687479bc1',
        postId: 'd298815c-187b-4adc-a28c-25dfc2d11a67',
        updatedAt: '2021-05-25 04:13:50',
        user: {
          avatar: '/files/shares/default-user.png',
          id: 1,
          name: 'admin',
        },
        userId: 1
      })

      this.isCommentOpened = false
      this.commentValue = ""
    },
  },
}
</script>
