<template>
  <div class="menu-drawer__overlay">
    <v-row class="menu-drawer__row" no-gutters>
      <v-col cols="9">
        <div class="menu-drawer__container">
          <v-list>
            <v-list-item link :to="{ name: 'index' }">
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item>
            <template v-for="(category, index) in categories">
              <v-list-item
                link
                :key="index"
                v-if="category.menu.length === 0"
                :to="$ufo.joinURL(`/category/${category.slug}`)"
              >
                <v-list-item-title>{{ category.name }}</v-list-item-title>
              </v-list-item>

              <v-list-group :key="index" v-else>
                <template v-slot:activator>
                  <v-list-item-title>{{ category.name }}</v-list-item-title>
                </template>

                <template v-slot:appendIcon>
                  <v-icon size="16">fas fa-chevron-down</v-icon>
                </template>

                <v-divider></v-divider>
                <template v-for="(menu, index) in category.menu">
                  <v-list-item
                    link
                    :key="index"
                    :to="$ufo.joinURL(`/category/${menu.slug}`)"
                  >
                    <v-list-item-subtitle class="ml-4">{{
                      menu.name
                    }}</v-list-item-subtitle>
                  </v-list-item>
                  <v-divider :key="'d-' + index"></v-divider>
                </template>
              </v-list-group>
            </template>
          </v-list>
        </div>
      </v-col>
      <v-col cols="3" class="d-flex justify-center">
        <v-icon
          class="menu-drawer__button--close"
          color="#ffffff"
          size="36"
          @click="$emit('input', false)"
          >fas fa-times</v-icon
        >
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    categories: [],
  },
  mounted() {},
  methods: {
    goTo(category, menu) {
      return this.$ufo.joinURL(`/${category.slug}`, menu.slug)
    },
  },
}
</script>
