<template>
  <v-menu :close-on-content-click="false" :offset-x="isOffsetX" :offset-y="isOffsetY" :open-on-hover="isOpenOnHover" :transition="transition" :value="openMenu">
    <template v-slot:activator="{ on }">
      <v-btn small :color="color" v-if="icon" v-on="on">
        <v-icon>
          {{ icon }}
        </v-icon>
      </v-btn>

      <v-btn :color="color" plain v-else-if="isSubMenu" v-on="on" small>
        {{ name }}
        <v-icon right size="12" v-if="iconName">{{ iconName }}</v-icon>
      </v-btn>

      <v-btn small :color="color" @click="openMenu = true" plain v-else v-on="on" :to="{ name: 'category-slug', params: { slug: slug } }">
        {{ name }}
        <v-icon right size="12" v-if="iconName">{{ iconName }}</v-icon>
      </v-btn>
    </template>

    <v-list v-if="menuItems !== {} && menuItems.menu.length > 0">
      <template v-for="(item, index) in menuItems.menu">
        <v-divider :key="index" v-if="item.isDivider" />
        <v-persis-menu
          :is-offset-x="true"
          :is-offset-y="false"
          :is-open-on-hover="false"
          :is-sub-menu="true"
          :key="index"
          :menu-items="item.menu"
          :name="item.name"
          :color="item.color"
          @sub-menu-click="emitClickEvent"
          v-else-if="item.menu"
        />
        <v-list-item :key="index" @click="clicked.push(index)" v-else :color="item.color" :to="{ name: 'category-slug', params: { slug: item.slug } }">
          <v-list-item-action v-if="item.icon">
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-title>
            {{ item.name }}
          </v-list-item-title>
        </v-list-item>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {
    name: String,
    icon: String,
    slug: String,
    iconName: String,
    menuItems: Object,
    color: { type: String, default: 'secondary' },
    isOffsetX: { type: Boolean, default: false },
    isOffsetY: { type: Boolean, default: true },
    isOpenOnHover: { type: Boolean, default: false },
    isSubMenu: { type: Boolean, default: false },
    transition: { type: String, default: 'scale-transition' },
  },
  methods: {
  },
  data: () => ({
    openMenu: false,
  }),
}
</script>
