<template>
  <div>
    <div class="system-bar__container">
      <v-system-bar height="24" light class="system-bar__content" id="system-bar">
        <p class="system-bar__date system-bar__date--white system-bar__date--text" > {{ $moment().format('dddd, DD MMMM YYYY').toUpperCase() }} </p>
        <v-spacer></v-spacer>
        <a :href="facebook" class="system-bar__icon system-bar__icon--margin-right" target="_blank" rel="noopener noreferrer">
          <v-icon class="system-bar__icon--white" >fab fa-facebook-f</v-icon>
        </a>
        <a :href="twitter" class="system-bar__icon system-bar__icon--margin-right" target="_blank" rel="noopener noreferrer">
          <v-icon class="system-bar__icon--white" >fab fa-twitter</v-icon >
        </a>
        <a :href="instagram" class="system-bar__icon system-bar__icon--margin-right" target="_blank" rel="noopener noreferrer">
          <v-icon class="system-bar__icon--white" >fab fa-instagram</v-icon >
        </a>
        <a :href="youtube" class="system-bar__icon system-bar__icon--margin-right" target="_blank" rel="noopener noreferrer">
          <v-icon class="system-bar__icon--white" >fab fa-youtube</v-icon >
        </a>

        <!-- <v-divider vertical class=" system-bar__divider system-bar__divider--white system-bar__divider--inset system-bar__icon--margin-right " ></v-divider> -->

        <!-- <v-icon class="system-bar__icon--margin-right" size="16px">$sa</v-icon>
        <v-icon class="system-bar__icon--margin-right" size="16px">$id</v-icon>
        <v-icon class="system-bar__icon--margin-right" size="16px">$us</v-icon> -->
        <v-divider vertical class=" system-bar__divider system-bar__divider--white system-bar__divider--inset system-bar__icon--margin-right " ></v-divider>
        <v-icon class="system-bar__icon--margin-right system-bar__icon--white" @click="switchMode">{{ modeIcon }}</v-icon >
      </v-system-bar>
    </div>

    <v-sheet class="main-bar__container">
      <v-row align="center" no-gutters>
        <v-col :cols="isTouch ? 2 : 3">
          <template v-if="!isTouch">
            <p class="main-bar__text main-bar__text--white">Kantor</p>
            <p class="main-bar__text main-bar__text--white">
              <!-- Jl. Perintis Kemerdekaan No 2 & 4 Bandung - Jawa Barat -->
              <span>{{ header.office.data['address-1'].data }}</span><br />
              <span>{{ header.office.data['address-2'].data }}</span>
            </p>
          </template>
          <template v-else>
            <div class="pl-4">
              <v-icon color="#ffffff" @click="showMenu = !showMenu">fas fa-bars</v-icon>
            </div>
          </template>
        </v-col>
        <v-col :cols="isTouch ? 8 : 6" class="main-bar__logo--container">
          <img
            :src="header.logo.data"
            alt="Logo Persis"
            class="main-bar__logo--image"
          />
        </v-col>
        <v-col :cols="isTouch ? 2 : 3">
          <template v-if="!isTouch">
            <v-autocomplete
              v-model="searchValue"
              :items="items"
              :loading="loading"
              :search-input.sync="search"
              color="#ffffff"
              hide-no-data
              hide-selected
              label="Pencarian"
              placeholder="Ketik pencarian"
              item-text="title"
              item-value="slug"
              dense
              solo
              hide-details
              cache-items
            >
              <template v-slot:item="{ item }">
                <v-list-item dense :to="{ name: 'slug', params: { slug: item.slug, title: item.title } }" style="max-width: 300px">
                  <v-list-item-avatar tile width="80" max-width="120">
                    <v-img :src="item.thumbnail"></v-img>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title class="text-wrap" v-html="item.title"></v-list-item-title>
                    <v-list-item-subtitle>{{ $moment(item.publishedAt).format("DD MMMM YYYY").toUpperCase() }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </template>
          <template v-else>
            <div class="float-right pr-4">
              <v-icon color="#ffffff" @click="showSearch = !showSearch">fas fa-search</v-icon>
            </div>
          </template>
        </v-col>
      </v-row>
    </v-sheet>

    <v-slide-x-transition>
      <v-persis-drawer v-if="showMenu" v-model="showMenu" :categories="categories"></v-persis-drawer>
    </v-slide-x-transition>

    <v-fade-transition>
      <v-sheet class="search-bar__container" v-if="showSearch" elevation="2">
        <v-row no-gutters>
          <v-col cols="12">
            <v-autocomplete
              v-model="searchValue"
              :items="items"
              :loading="loading"
              :search-input.sync="search"
              color="#ffffff"
              hide-no-data
              hide-selected
              label="Pencarian"
              placeholder="Ketik pencarian"
              item-text="title"
              item-value="slug"
              dense
              solo
              hide-details
              cache-items
            >
              <template v-slot:append>
                <v-icon size="12">fas fa-chevron-down</v-icon>
              </template>
              <template v-slot:item="{ item }">
                <v-list-item dense :to="{ name: 'slug', params: { slug: item.slug, title: item.title } }">
                  <v-list-item-avatar tile width="80" max-width="120">
                    <v-img :src="item.thumbnail"></v-img>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title class="text-wrap">{{ item.title }}</v-list-item-title>
                    <v-list-item-subtitle>{{ $moment(item.updatedAt).format("DD MMMM YYYY").toUpperCase() }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
        </v-row>
      </v-sheet>
    </v-fade-transition>
    <v-app-bar elevate-on-scroll height="44" class="app-bar__container">
      <v-btn plain color="primary" to="/" small>
        Home
      </v-btn>
      <v-persis-menu
        :name="category.name"
        color="primary"
        :iconName="category.icon"
        v-for="(category, index) in categories"
        :key="index"
        :menu-items="category"
        :is-sub-menu="category.isSubMenu"
        :slug="category.slug"
      />
      <v-btn plain color="primary" to="/live-streaming" small>
        Live Streaming
      </v-btn>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchValue: null,
      search: null,
      loading: false,
      items: [],
      categories: [],
      showSearch: false,
      showMenu: false,
      modeIcon: 'fas fa-sun',
      header: {
        logo: {
          data: '~/static/logo-persis.png'
        },
        office: {
          data: {
            'address-1': {
              data: null
            },
            'address-2': {
              data: null
            }
          }
        }
      }
    }
  },
  watch: {
    search (val) {
      val && val !== this.searchValue && this.querySearch(val)
    },
    isTouch() {
      this.showSearch = false
    }
  },
  computed: {
    isTouch() {
      return this.$breakpoints.sLg
    },
    facebook() {
      return this.$store.state.social.facebook
    },
    twitter() {
      return this.$store.state.social.twitter
    },
    instagram() {
      return this.$store.state.social.instagram
    },
    youtube() {
      return this.$store.state.social.youtube
    },
  },
  mounted() {
    this.$badaso.$category.browse()
    .then(res => {
      const categories = res.data.categories.map((category, index) => {
        if (category.parentId) return null

        let icon = null
        let menu = []
        let isSubMenu = false
        if (category.children.length > 0) {
          icon = 'fas fa-chevron-down'
          isSubMenu = true
          menu = category.children.map(child => {
            return {
              name: child.title,
              slug: child.slug,
              color: '#003D01',
            }
          })
        }

        return {
          name: category.title,
          slug: category.slug,
          icon,
          isSubMenu,
          color: '#003D01',
          menu,
        }
      })

      this.categories = categories.filter(category => category !== null)
    })
    .catch(err => {
      console.log(err);
    })
    this.fetchHeader()
  },
  methods: {
    fetchHeader() {
      this.$badaso.$content.fetch({
        slug: 'header'
      })
        .then(res => {
          this.header = res.data.value
        })
        .catch(err => {
          console.log(err);
        })
    },
    querySearch(v) {
      this.loading = true

      this.$badaso.$post.browse({ search: v })
      .then(res => {
        this.items = res.data.posts.data
      })
      .catch(err => {
        console.log(err);
      })
      .finally(() => {
        this.loading = false
      })
    },
    to(name, params = {}) {
      this.$router.push({ name, params })
    },
    switchMode() {
      switch (this.modeIcon) {
        case 'fas fa-moon':
          this.modeIcon = 'fas fa-sun'
          // TODO: Implement logic for switching theme to light mode
          this.$vuetify.theme.dark = false;
          break;
        case 'fas fa-sun':
          this.modeIcon = 'fas fa-moon'
          // TODO: Implement logic for switching theme to dark mode
          this.$vuetify.theme.dark = true;
          break;
        default:
          break;
      }
    }
  }
}
</script>
