<template>
  <v-footer dark padless class="footer__container">
    <v-card flat tile class="indigo lighten-1 white--text text-center" width="100%">

      <v-card-text class="footer__logo--container">
        <v-row>
          <v-col cols="12">
            <img src="~/static/logo-footer.png" alt="">
          </v-col>
          <v-col cols="12">
            <v-btn tile depressed color="#ffffff26" class="footer__logo--icon" :href="facebook" target="_blank">
              <v-icon size="16">fab fa-facebook-f</v-icon>
            </v-btn>
            <v-btn tile depressed color="#ffffff26" class="footer__logo--icon" :href="twitter" target="_blank">
              <v-icon size="16">fab fa-twitter</v-icon>
            </v-btn>
            <v-btn tile depressed color="#ffffff26" class="footer__logo--icon" :href="instagram" target="_blank">
              <v-icon size="16">fab fa-instagram</v-icon>
            </v-btn>
            <v-btn tile depressed color="#ffffff26" class="footer__logo--icon" :href="youtube" target="_blank">
              <v-icon size="16">fab fa-youtube</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-text class="footer__copyright--container">

        <v-row align="start" justify="center" no-gutters>
          <v-col align-self="center" :cols="isTouch ? 12 : null" :order="isTouch ? 'last' : 'first'" :class="isTouch ? 'mt-4' : ''">
            <span :class="isTouch ? 'text-left float-left' : 'text-no-wrap'">© {{ new Date().getFullYear() }} Pimpinan Persatuan Islam — Cahaya Islam Berkemajuan.</span>
          </v-col>
          <v-spacer></v-spacer>
          <v-col align-self="center" :cols="isTouch ? 12 : 5" :order="isTouch ? 'first' : 'last'" :class="isTouch ? 'd-flex flex-wrap' : ''">
            <v-btn to="/redaksi" text small :class="isTouch ? 'mb-2' : ''">
              Redaksi
            </v-btn>    
            <v-btn to="/kontak-kami" text small>
              Kontak Kami
            </v-btn>
            <v-btn to="/disclaimer" text small>
              Disclaimer
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  computed: {
    isTouch() {
      return this.$breakpoints.sLg
    },
    facebook() {
      return this.$store.state.social.facebook
    },
    twitter() {
      return this.$store.state.social.twitter
    },
    instagram() {
      return this.$store.state.social.instagram
    },
    youtube() {
      return this.$store.state.social.youtube
    },
  },
}
</script>