.footer {
  &__copyright {
    &--container {
      padding: 20px !important;
      display: flex;
      align-items: center;
      background-color: #002900;

      @media screen and (min-width: 1024px) {
        height: 63px;
        display: flex;
        align-items: center;
        background-color: #002900;

        & > .row {
          margin: 0 auto !important;
          max-width: 992px !important;
        }
      }
    }
  }
  
  &__logo {
    &--container {
      padding: 0 120px !important;
      height: 467px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(23, 114, 26, 1);
    }

    &--icon {
      padding: 0 !important;
      min-width: 36px !important;

      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
}