.main-container {
  padding: 32px 20px !important;

  @media screen and (min-width: 1024px) {
    padding: 32px 0 !important;
    max-width: 992px !important;
    margin: 0 auto;
  }
}

.main {
  &__background {
    background-attachment: fixed;
  }

  &__popup {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.33);
    z-index: 100;
    justify-content: center;
    align-items: center;

    &--body {
      border-radius: 4px;
      background-color: rgba($color: #ffffff, $alpha: 1);
      position: relative;
      padding: 0.5rem;
      margin: 1rem;
      display: grid;

      @media screen and (max-width: 600px) {
        padding: 0.25rem;
        height: 350px;
        width: 350px;
      }

      @media screen and (min-width: 600px) {
        height: 500px;
        width: 500px;
      }

      @media screen and (min-width: 1024px) {
        height: 600px;
        width: 600px;
      }

      & .v-skeleton-loader__image {
        height: 100%;
      }
    }

    &--container {
      position: relative;
      overflow: hidden;
    }

    &--skeleton {
      padding: 32px;

      & .v-skeleton-loader__image {
        height: 100%;
      }
    }

    &--close-button {
      z-index: 101;
      position: absolute !important;
      bottom: calc(100% - 16px) !important;
      left: calc(100% - 16px) !important;
      height: 32px;
      width: 32px;
      inset: auto auto calc(100% - 4px) calc(100% - 4px);

      & .v-badge__badge {
        bottom: unset !important;
        left: unset !important;
        min-width: 32px !important;
        height: 32px !important;
        border-radius: 24px;
        padding: 0 !important;
        border: 4px solid;
        border-color: #003d01 !important;
        background-color: #ffffff !important;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        & .v-icon {
          margin: 0 !important;
        }
      }
    }
  }
}
