.system-bar {
  &__container {
    display: none !important;
    visibility: hidden;

    @media screen and (min-width: 1024px) {
      visibility: visible;
      display: flex !important;
      background-color: #003D01 !important;
      
      & > .system-bar__content {
        max-width: 992px !important;
        margin: 0 auto !important;
      }
    }
  }
  
  &__content {
    background-color: #003D01 !important;
    width: 100%;
    padding: 0 !important;
  }

  &__icon {
    display: flex;
    text-decoration: none;

    &--container {
      display: flex;
    }

    &--margin-left {
      margin-left: 12px !important;
    }

    &--margin-right {
      margin-right: 12px !important;
    }

    &--white {
      color: #FFFFFF !important;
      caret-color: #FFFFFF !important;
    }
  }

  &__divider {
    &--white {
      border-color: #ffffff80 !important;
    }
  }

  &__date {
    margin-bottom: 0px !important;

    &--white {
      color: #FFFFFF !important;
    }

    &--text {
      display: inline-flex;
    }
  }
}

.search-bar {
  &__container {
    padding: 16px 20px !important;
  }
}

.main-bar {
  &__container {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 0 !important;

    background-image: linear-gradient(90deg,rgba(0, 88, 1, 0.9)  60%,rgba(23, 114, 26,0.9) 100%), url("~/static/ornament.jpg");
    background-repeat: repeat-x;

    @media screen and (min-width: 1024px) {
      height: 145px;
      
      & > .row {
        max-width: 992px !important;
        margin: 0 auto !important;
      }
    }
  }

  &__text {
    margin-bottom: 0px !important;

    &--white {
      color: #FFFFFF !important;
    }
  }

  &__logo {
    &--image {
      width: auto;
      height: 80px;

      @media screen and (min-width: 768px) {
        height: 80px;
        width: auto;
      }

      @media screen and (min-width: 1024px) {
        height: 115px;
        width: auto;
      }
    }

    &--container {
      display: flex;
      justify-content: center;
    }
  }
}

.app-bar {
  &__container {
    display: none !important;
    visibility: hidden;

    @media screen and (min-width: 1024px) {
      display: flex !important;
      visibility: visible;
      
      & > .v-toolbar__content {
        max-width: 992px !important;
        margin: 0 auto;
      }
    }
  }
}

.menu-drawer {
  &__container {
    position: static;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    background-color: #FFFFFF;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba($color: #000000, $alpha: 0.35);
  }

  &__row {
    height: 100%;
  }

  &__button {
    &--close {
      position: fixed !important;
      z-index: 10;
      top: 20px;
    }
  }
}