<template>
  <v-row>
    <v-col v-show="loading" v-for="index in getSkeletonColumn" :key="'skeleton-' + index" class="category-card__skeleton--column">
      <v-sheet>
        <v-fade-transition group mode="out-in">
          <v-skeleton-loader
            key="skeleton"
            type="image, heading@2, text"
            class="category-card__skeleton"
            :loading="loading">
            </v-skeleton-loader>
        </v-fade-transition>
      </v-sheet>
    </v-col>
    <!-- remove because multi ads banner -->
    <!-- <v-col cols="12">
      <a :href="banner.url" target="_blank">
        <v-img aspect-ratio="8" width="100%" class="teal lighten-5" :src="banner.image" cover>
          <template v-slot:placeholder>
            <v-row
              class="fill-height"
              align="center"
              justify="center"
              no-gutters
            >
              <v-progress-circular
                indeterminate
                color="grey lighten-5"
              ></v-progress-circular>
            </v-row>
          </template>
        </v-img>
      </a>
    </v-col> -->
    <v-col :cols="getColumn" v-for="(post, index) in posts.data" :key="index" v-show="!loading">
      <v-card flat rounded="0" v-show="!loading">
        <v-img :height="getImageSize" :src="post.thumbnail" class="category-card__image--title">
          <v-chip class="category-card__image--chip" v-if="post.category" small color="#005801" label :to="{ name: 'category-slug', params: { slug: post.category.slug } }"> {{ post.category.title }} </v-chip>
        </v-img>
        <v-card-title class="category-card__text--title">
          <NuxtLink :to="{ name: 'slug', params: { slug: post.slug, title: post.title } }">
            <span v-html="post.title"></span>
          </NuxtLink>
        </v-card-title>
        <v-card-subtitle class="category-card__text--subtitle">
          <v-icon size="12">far fa-clock</v-icon>
          <small>{{ $moment(post.publishedAt).format('DD MMMM YYYY').toUpperCase() }}</small>
        </v-card-subtitle>
      </v-card>
    </v-col>
    <v-col cols="12">
      <v-pagination
        v-model="page"
        :length="posts.lastPage"
        total-visible="7"
        prev-icon="fas fa-chevron-left"
        next-icon="fas fa-chevron-right"
        class="category-card__pagination"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
export default {
  head: {
    title: "Persatuan Islam"
  },
  data() {
    return {
      page: 1,
      posts: {
        data: []
      },
      loading: true,
      banner: {
        url: "",
        image: ""
      }
    }
  },
  mounted() {
    this.fetchPosts()
    this.fetchBanner()
  },
  computed: {
    isTouch() {
      return this.$breakpoints.sMd
    },
    getSkeletonColumn() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 4
        case 'sm':
          return 4
        case 'md':
          return 3
        default:
          return 3
      }
    },
    getColumn() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 12
        case 'sm':
          return 6
        case 'md':
          return 4
        default:
          return 4
      }
    },
    getImageSize() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 175
        case 'sm':
          return 125
        case 'md':
          return 150
        case 'lg':
          return 150
        default:
          return 200
      }
    },
  },
  watch: {
    page: {
      handler() {
        this.fetchPosts()
      }
    }
  },
  methods: {
    fetchPosts() {
      this.loading = true
      this.$badaso.$post.browse({ page: this.page, limit: 12, category: this.$route.params.slug })
      .then(res => {
        this.posts = res.data.posts
      })
      .catch(err => {
        console.error(err);
      })
      .finally(() => {
        this.loading = false
      })
    },
    to(name, params = {}) {
      this.$router.push({ name, params })
    },
    fetchBanner() {
      this.$badaso.$content.fetch({ slug: 'navbar-banner' })
      .then(res => {
        this.banner.url = res.data.value.url.data
        this.banner.image = res.data.value.image.data
      })
      .catch(err => {
        console.error(err);
      });
    },
  }
}
</script>
