<template>
  <v-img
    :src="getSourceImage()"
    :height="height"
    :max-height="maxHight"
    :contain="contain"
    :position="position"
    :max-width="maxWidth"
    @load="handleLoadImage()"
    @error="handleImageErrorNotFound()"
  >
    <slot />
  </v-img>
</template>
<script>
export default {
  props: [
    'height',
    'src',
    'load',
    'maxWidth',
    'position',
    'contain',
    'maxHight',
  ],
  data() {
    return {
      isUseDefaultImage: false,
    }
  },
  methods: {
    handleImageErrorNotFound() {
      this.isUseDefaultImage = true
    },
    getSourceImage() {
      if (this.isUseDefaultImage || [null, undefined, ''].includes(this.src))
        return '/image-not-found.png'
      return this.src
    },
    handleLoadImage() {
      if (this.load) {
        if (typeof this.load === 'function') {
          this.load()
        }
      }
    },
  },
}
</script>
