<template>
  <v-app>
    <no-ssr>
      <div id="fb-root"></div>
      <script
        async
        defer
        crossorigin="anonymous"
        :src="`https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=${appId}&autoLogAppEvents=1`"
        nonce="BuhLeoUV"
      ></script>
    </no-ssr>
    <v-persis-navbar></v-persis-navbar>

    <v-main>
      <v-container class="main-container" fluid>
        <v-row>
          <v-col cols="12">
            <a :href="navbarBanner.url" target="_blank">
              <v-img class="teal lighten-5" :src="navbarBanner.image">
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height"
                    align="center"
                    justify="center"
                    no-gutters
                  >
                    <v-progress-circular
                      indeterminate
                      color="grey lighten-5"
                    ></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </a>
          </v-col>
        </v-row>
        <router-view :key="$route.fullPath"></router-view>
        <v-row>
          <v-col cols="12">
            <a :href="footerBanner.url" target="_blank">
              <v-img class="teal lighten-5" :src="footerBanner.image">
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height"
                    align="center"
                    justify="center"
                    no-gutters
                  >
                    <v-progress-circular
                      indeterminate
                      color="grey lighten-5"
                    ></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </a>
          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <v-persis-footer></v-persis-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      navbarBanner: {
        url: '',
        image: '',
      },
      footerBanner: {
        url: '',
        image: '',
      },
      appId: null,
    }
  },
  scrollToTop: true,
  watch: {
    $route() {
      try {
        const params = this.$route?.params
        let title = params?.title
        let slug = params?.slug
        if (!title) {
          if (slug) {
            slug = slug
              .replace(/-/g, ' ')
              .toLowerCase()
              .replace(/\b[a-z]/g, function (letter) {
                return letter.toUpperCase()
              })
          } else {
            title = this.$store.app.head.titleTemplate.replace(/%s/g, 'Persis')
          }
        }

        const { pathname, href } = window.location
        window.dataLayer = window.dataLayer || []
        function gtag() {
          dataLayer.push(arguments)
        }
        gtag('js', new Date())
        gtag('config', process.env.GOOGLE_ANALYTICS_VIEW, {
          page_title: title,
          page_path: pathname,
          page_location: href,
        })
      } catch (error) {}
    },
  },
  mounted() {
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())
    gtag('config', process.env.GOOGLE_ANALYTICS_VIEW)

    this.appId = process.env.FACEBOOK_APP_ID
    this.fetchSocialMedia()
    this.fetchNavbarBanner()
    this.fetchFooterBanner()
  },
  methods: {
    fetchSocialMedia() {
      this.$badaso.$content
        .fetch({ slug: 'social-media' })
        .then((res) => {
          let links = Object.values(res.data.value).filter((val) => {
            return val.type === 'url'
          })
          this.$store.commit('setSocial', links)
        })
        .catch((err) => {
          console.error(err)
        })
    },
    fetchNavbarBanner() {
      this.$badaso.$content
        .fetch({ slug: 'navbar-banner' })
        .then((res) => {
          this.navbarBanner.url = res.data.value.url.data
          this.navbarBanner.image = res.data.value.image.data
        })
        .catch((err) => {
          console.error(err)
        })
    },
    fetchFooterBanner() {
      this.$badaso.$content
        .fetch({ slug: 'footer-banner' })
        .then((res) => {
          this.footerBanner.url = res.data.value.url.data
          this.footerBanner.image = res.data.value.image.data
        })
        .catch((err) => {
          console.error(err)
        })
    },
  },
}
</script>
