<template>
  <no-ssr>
    <v-row>
      <v-progress-linear
        absolute
        color="#003D01"
        v-model="percent"
        class="page-details__progress-bar"
        v-if="!isTouch"
      ></v-progress-linear>
      <v-col cols="12">
        <v-breadcrumbs
          :items="breadcrumb"
          class="page-details__breadcrumb--padding"
        >
          <template v-slot:item="{ item }">
            <v-breadcrumbs-item :to="item.href" :disabled="item.disabled">
              {{ item.text }}
            </v-breadcrumbs-item>
          </template>
          <template v-slot:divider>
            <v-icon size="8">fas fa-chevron-right</v-icon>
          </template>
        </v-breadcrumbs>
      </v-col>
      <v-col :cols="isTouch ? 12 : 8">
        <template v-if="isArticleExist">
          <h1 class="page-details__post--title" v-html="post.title"></h1>
          <v-row no-gutters class="page-details__post--detail">
            <v-col :cols="isTouch ? 8 : 10">
              <v-avatar color="#b9b9b9" size="36">
                <v-image-default :src="post.user.avatar"></v-image-default>
              </v-avatar>
              <p class="page-details__user--text" v-if="post.user">
                BY
                <NuxtLink
                  :to="{
                    name: 'author-slug',
                    params: { slug: post.user.username },
                  }"
                  >{{ post.user.name }}</NuxtLink
                >
                <span class="page-details__user--hyphen">—</span>
                {{
                  post.publishedAt
                    ? $moment(post.publishedAt).format('DD MMMM YYYY')
                    : ''
                }}
              </p>
            </v-col>
            <v-col :cols="isTouch ? 4 : 2">
              <span class="text-overline page-details__comment--position">
                <v-icon size="16">far fa-comment</v-icon>
                {{ post.commentCount }}
              </span>
            </v-col>
          </v-row>

          <v-image-default
            :max-height="getImageSize"
            :src="post.thumbnail"
            :load="() => (loading = false)"
          >
            <v-skeleton-loader
              type="image"
              class="page-details__skeleton"
              v-show="loading"
              transition="fade-transition"
            >
            </v-skeleton-loader>
          </v-image-default>

          <p
            v-html="post.content"
            class="page-details__post--content text-justify"
          ></p>

          <v-row align="center" no-gutters>
            <v-col :cols="isTouch ? 12 : 1">
              <strong class="text-body-2 font-weight-bold">Tags: </strong>
            </v-col>
            <v-col :cols="isTouch ? 12 : 11">
              <v-chip-group :show-arrows="false">
                <v-chip
                  color="#b9b9b9"
                  label
                  text-color="white"
                  small
                  v-for="(tag, index) in post.tags"
                  :key="index"
                >
                  {{ tag.title }}
                </v-chip>
              </v-chip-group>
            </v-col>
            <v-col cols="12">
              <v-row class="mt-2">
                <v-col :cols="getSocialColumn">
                  <v-btn
                    block
                    color="#3B5998"
                    class="page-details__share--button"
                    target="popup"
                    @click="getFacebookShareUrl"
                  >
                    <v-icon left size="16">fab fa-facebook-square</v-icon>
                    Share
                  </v-btn>
                </v-col>
                <v-col :cols="getSocialColumn">
                  <v-btn
                    block
                    color="#5eb2ef"
                    class="page-details__share--button"
                    target="popup"
                    @click="getTwitterShareUrl"
                  >
                    <v-icon left size="16">fab fa-twitter</v-icon>
                    Tweet
                  </v-btn>
                </v-col>
                <v-col :cols="getSocialColumn">
                  <v-btn
                    block
                    color="#25D366"
                    class="page-details__share--button"
                    target="popup"
                    @click="getWhatsappShareUrl"
                  >
                    <v-icon left size="16">fab fa-whatsapp</v-icon>
                    Send
                  </v-btn>
                </v-col>
                <v-col :cols="getSocialColumn">
                  <v-btn
                    block
                    color="#0088CC"
                    class="page-details__share--button"
                    target="popup"
                    @click="getTelegramShareUrl"
                  >
                    <v-icon left size="16">fab fa-telegram-plane</v-icon>
                    Share
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-divider class="my-6"></v-divider>
              <v-row>
                <v-col
                  :cols="isMobile ? 12 : 6"
                  v-if="previous"
                  class="page-details__previous"
                >
                  <NuxtLink
                    v-if="previous.slug"
                    :to="{
                      name: 'slug',
                      params: { slug: previous.slug, title: previous.title },
                    }"
                  >
                    <p class="page-details__previous--title">Previous Post</p>
                    <h5 class="page-details__previous--post-title">
                      {{ previous.title }}
                    </h5>
                  </NuxtLink>
                </v-col>
                <v-col
                  :cols="isMobile ? 12 : 6"
                  v-if="next"
                  class="page-details__next"
                >
                  <NuxtLink
                    v-if="next.slug"
                    :to="{
                      name: 'slug',
                      params: { slug: next.slug, title: next.title },
                    }"
                  >
                    <p class="page-details__next--title">Next Post</p>
                    <h5 class="page-details__next--post-title">
                      {{ next.title }}
                    </h5>
                  </NuxtLink>
                </v-col>
              </v-row>
              <v-divider class="my-6"></v-divider>
            </v-col>
            <v-col cols="12" v-if="related.length > 0">
              <v-row>
                <v-col cols="12">
                  <h1 class="text-h5 mb-0">Berita Terkait</h1>
                </v-col>
                <v-col
                  :cols="isMobile ? 12 : 6"
                  v-for="(post, index) in related"
                  :key="index"
                >
                  <v-card color="transparent" flat rounded="0">
                    <v-image-default
                      :height="isMobile ? 180 : 200"
                      :src="post.thumbnail"
                      class="news-card__image--title"
                    >
                      <v-chip
                        class="news-card__image--chip"
                        v-if="post.category"
                        small
                        color="#005801"
                        label
                        :to="$ufo.joinURL('/category', post.category.slug)"
                      >
                        {{ post.category.title }}
                      </v-chip>
                    </v-image-default>
                    <v-card-title class="news-card__text--title">
                      <NuxtLink
                        :to="{
                          name: 'slug',
                          params: { slug: post.slug, title: post.title },
                        }"
                      >
                        <span v-html="post.title"></span>
                      </NuxtLink>
                    </v-card-title>
                    <v-card-subtitle class="news-card__text--subtitle">
                      <v-icon size="12">far fa-clock</v-icon>
                      <small>{{
                        $moment(post.publishedAt)
                          .format('DD MMMM YYYY')
                          .toUpperCase()
                      }}</small>
                    </v-card-subtitle>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <v-tabs background-color="transparent">
            <v-tab>
              <v-icon left size="16">fab fa-facebook-square</v-icon>
              Facebook
            </v-tab>

            <v-tab-item>
              <v-card color="transparent" flat>
                <v-card-text class="page-details__comment--container-padding">
                  <div
                    class="fb-comments page-details__comment--facebook"
                    data-width="100%"
                    d
                    ata-numposts="5"
                  ></div>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </template>

        <template v-else>
          <h1 class="page-details__post--title">Page Not Found</h1>
          <p>
            Sorry the page you were looking for cannot be found. Try searching
            for the best match
          </p>

          <v-divider class="my-6">Latest Artikel</v-divider>

          <v-card
            color="transparent"
            flat
            v-for="(post, index) in posts.data"
            :key="index"
            class="page-details__popular-card"
          >
            <NuxtLink
              :to="{
                name: 'slug',
                params: { slug: post.slug, title: post.title },
              }"
              class="text-decoration-none"
            >
              <v-row no-gutters>
                <v-col cols="4">
                  <v-image-default :src="post.thumbnail"></v-image-default>
                </v-col>
                <v-col cols="8" class="pl-4">
                  <p class="mb-0 page-details__popular-card--title">
                    {{ post.title }}
                  </p>

                  <p class="page-details__user--text ma-0">
                    BY
                    <a :href="`/author/${post.user.name}`" class="">
                      <b>{{ post.user.name.toUpperCase() }}</b>
                    </a>
                    <span class="page-details__user--hyphen">-</span>
                    {{
                      $moment(post.publishedAt)
                        .format('DD MMMM YYYY')
                        .toUpperCase()
                    }}
                  </p>

                  <p class="mt-2">
                    {{ articleDescription(post.content) }}
                  </p>
                </v-col>
              </v-row>
            </NuxtLink>
          </v-card>
        </template>
      </v-col>
      <v-col :cols="isTouch ? 12 : 4">
        <h1 class="text-h5 mb-4">Berita Populer</h1>
        <v-skeleton-loader
          type="list-item-avatar-three-line@6"
          v-show="loadingPopular"
        >
        </v-skeleton-loader>
        <v-card
          color="transparent"
          flat
          v-for="(post, index) in popular"
          :key="index"
          class="page-details__popular-card"
        >
          <NuxtLink
            :to="{
              name: 'slug',
              params: { slug: post.slug, title: post.title },
            }"
            class="text-decoration-none"
          >
            <v-row no-gutters>
              <v-col cols="4">
                <v-image-default :src="post.thumbnail"></v-image-default>
              </v-col>
              <v-col cols="8" class="pl-4">
                <p class="mb-0 page-details__popular-card--title">
                  {{ post.title }}
                </p>
                <v-subheader
                  color="info"
                  v-if="post.publishedAt"
                  class="pl-0 h-auto"
                >
                  <v-icon size="12" class="page-details__popular-card--subtitle"
                    >far fa-clock</v-icon
                  >
                  <span class="ml-1"
                    >{{ $moment(post.publishedAt).format('DD MMMM YYYY') }}
                  </span>
                </v-subheader>
              </v-col>
            </v-row>
          </NuxtLink>
        </v-card>
        <h1 class="text-h5 mb-4">Ikhwan</h1>
        <v-card
          color="transparent"
          flat
          v-for="(item, key, index) in ikhwan"
          :key="`ikhwan-${index}`"
          class="page-details__ikhwan-card"
        >
          <div v-if="index > 0" class="my-4"></div>
          <a :href="item.data.url.data.url" class="text-decoration-none">
            <v-image-default
              height="80"
              max-width="200"
              position="center"
              class="mx-auto"
              contain
              :src="item.data.image.data"
              :load="() => (loadingIkhwan = true)"
            >
              <v-skeleton-loader type="image" v-if="!loadingIkhwan">
              </v-skeleton-loader>
            </v-image-default>
          </a>
        </v-card>
        <div>
          <a :href="banner.url" target="_blank">
            <v-image-default class="transparent mt-4" :src="banner.image">
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row>
              </template>
            </v-image-default>
          </a>
        </div>
      </v-col>
    </v-row>
  </no-ssr>
</template>
<script>
import vImageDefault from '~/components/base/v-image-default.vue'
import { articleDescription } from '~/helpers/global-helper'

export default {
  components: { vImageDefault },
  data() {
    return {
      fullPath: undefined,
      breadcrumb: [{ text: 'Home', disabled: false, href: '/' }],
      loading: true,
      loadingPopular: true,
      loadingIkhwan: false,
      next: {},
      previous: {},
      related: [],
      popular: {},
      percent: 0,
      ikhwan: {},
      post: {
        user: {},
      },
      posts: {
        currentPage: null,
        data: [],
        firstPageUrl: null,
        from: null,
        lastPage: null,
        links: [],
        nextPageUrl: null,
        path: null,
        perPage: null,
        prevPageUrl: null,
        total: null,
        to: null,
      },
      banner: {
        url: '',
        image: '',
      },
      isArticleExist: true,
    }
  },
  head() {
    const meta = []
    let title

    // get title and og:title
    if (![undefined, null, ''].includes(this.title)) {
      meta.push({
        hid: 'og:title',
        name: 'og:title',
        content: this.title,
        property: 'og:title',
      })

      title = this.title
    } else {
      let contentTitle = this.$route?.params?.slug

      if (contentTitle) {
        contentTitle = contentTitle
          .replace(/-/g, ' ')
          .toLowerCase()
          .replace(/\b[a-z]/g, function (letter) {
            return letter.toUpperCase()
          })
      } else {
        contentTitle = 'Persis'
      }

      meta.push({
        hid: 'og:title',
        name: 'og:title',
        content: contentTitle,
        property: 'og:title',
      })

      title = contentTitle
    }

    // get og url
    try {
      meta.push({
        hid: 'og:url',
        name: 'og:url',
        content: window.location.href,
        property: 'og:url',
      })
    } catch (error) {
      meta.push({
        hid: 'og:url',
        name: 'og:url',
        content: [
          process.env.FRONTEND_BASE_URL,
          this.$route?.params?.slug,
        ].join('/'),
        property: 'og:url',
      })
    }

    // get og title
    let postContent = this.post.content
    if (postContent !== undefined) {
      postContent = postContent.replace(/<\/?[^>]+(>|$)/g, '')
      if (postContent.length > 100)
        postContent = postContent.substring(0, 100) + '...'

      meta.push({
        hid: 'og:description',
        name: 'og:description',
        content: postContent,
        property: 'og:description',
      })
    } else {
      meta.push({
        hid: 'og:description',
        name: 'og:description',
        content: title,
        property: 'og:description',
      })
    }

    // get og image
    if (this.post?.thumbnail) {
      meta.push({
        hid: 'og:image',
        name: 'og:image',
        content: this.post?.thumbnail,
        property: 'og:image',
      })
    }

    return {
      title,
      meta,
    }
  },
  scrollToTop: true,
  watch: {
    post: {
      handler(val) {
        this.initFBComment()
      },
    },
  },
  computed: {
    isTouch() {
      return this.$breakpoints.sMd
    },
    isMobile() {
      return this.$breakpoints.xs
    },
    getSocialColumn() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 6
        case 'sm':
          return 6
        case 'md':
          return 3
        case 'lg':
          return 3
        case 'xl':
          return 3
        default:
          return 6
      }
    },
    getImageSize() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 250
        case 'sm':
          return 300
        case 'md':
          return 400
        case 'lg':
          return 500
        case 'xl':
          return 750
        default:
          return 250
      }
    },
  },
  beforeMount() {
    window.addEventListener('scroll', () => {
      var windowScrollPixels, windowScrollPercents, height

      height =
        document.documentElement.scrollHeight -
        document.documentElement.clientHeight
      windowScrollPixels = 0
      windowScrollPercents = 0

      windowScrollPixels =
        document.body.scrollTop || document.documentElement.scrollTop

      windowScrollPercents = (windowScrollPixels / height) * 100
      this.percent = windowScrollPercents
    })
  },
  beforeDestroy() {
    window.removeEventListener('scroll', () => {
      var windowScrollPixels, windowScrollPercents, height

      height =
        document.documentElement.scrollHeight -
        document.documentElement.clientHeight
      windowScrollPixels = 0
      windowScrollPercents = 0

      windowScrollPixels =
        document.body.scrollTop || document.documentElement.scrollTop

      windowScrollPercents = (windowScrollPixels / height) * 100
      this.percent = windowScrollPercents
    })
  },
  async asyncData(context) {
    let {
      app,
      req,
      route: {
        params: { slug },
      },
    } = context

    let fullPath = req?.headers?.referer

    try {
      let res = await app.$badaso.$post.readBySlug({ slug })

      let post = res.data.post
      let title = res.data.post.title

      return { post, title, fullPath, isArticleExist: true }
    } catch (error) {
      console.log('[Errors]', error)
    }

    return {
      isArticleExist: false,
    }
  },
  mounted() {
    this.fetchPost()
    this.fetchPosts()
    this.fetchIkhwan()
    this.fetchBanner()
    this.initFBComment()
  },
  methods: {
    articleDescription,
    fetchPosts() {
      if (this.isArticleExist) {
        this.loading = true
        this.$badaso.$post
          .browse({ page: this.page, limit: 12 })
          .then((res) => {
            this.posts = res.data.posts
          })
          .catch((err) => {
            console.error(err)
          })
          .finally(() => {
            this.loading = false
          })
      }
    },
    fetchPost() {
      this.isArticleExist = true

      this.$badaso.$post
        .readBySlug({ slug: this.$route.params.slug })
        .then((res) => {
          this.post = res.data.post
          this.previous = res.data.previous
          this.next = res.data.next
          this.related = res.data.related
          this.title = res.data.post.title
          this.breadcrumb.push({
            text: res.data.post.category.title,
            disabled: false,
            href: this.$ufo.joinURL('category', res.data.post.category.slug),
          })
        })
        .catch((err) => {
          this.isArticleExist = false
          console.log(err)
        })

      this.$badaso.$post
        .popular({ page: 1, limit: 6 })
        .then((res) => {
          this.popular = res.data.posts
          this.loadingPopular = false
        })
        .catch((err) => {
          console.log(err)
        })

      this.$badaso.$comment
        .readByPostSlug({ slug: this.$route.params.slug, page: 1 })
        .then((res) => {
          this.comments = res.data.comments
        })
        .catch((err) => {
          console.log(err)
        })
    },
    getFacebookShareUrl() {
      this.fullPath = window.location.href

      window.open(
        `${this.$ufo.withQuery(`https://www.facebook.com/sharer/sharer.php`, {
          u: this.fullPath,
        })}`,
        'popup',
        'width=600,height=400'
      )
      // window.open(`https://www.facebook.com/sharer/sharer.php?u=${this.fullPath}`, 'popup', 'width=600,height=400')
      return false
    },
    getTwitterShareUrl() {
      this.fullPath = window.location.href

      window.open(
        `${this.$ufo.withQuery(`https://twitter.com/intent/tweet`, {
          text: this.post.title,
          url: this.fullPath,
        })}`,
        'popup',
        'width=600,height=400'
      )
      return false
    },
    getWhatsappShareUrl() {
      this.fullPath = window.location.href

      window.open(
        `${this.$ufo.withQuery(`https://api.whatsapp.com/send`, {
          text: `${this.post.title}\n${this.fullPath}`,
        })}`,
        'popup',
        'width=600,height=400'
      )
      return false
    },
    getTelegramShareUrl() {
      this.fullPath = window.location.href

      window.open(
        `https://t.me/share/url?url=${this.fullPath}&text=${this.post.title}`,
        'popup',
        'width=600,height=400'
      )
      return false
    },
    initFBComment() {
      if (window) {
        window?.FB?.init({
          appId: process.env.FACEBOOK_APP_ID,
          xfbml: true,
          version: 'v12.0',
          autoLogAppEvents: true,
        })
      }
    },
    fetchIkhwan() {
      this.$badaso.$content
        .fetch({ slug: 'ikhwan' })
        .then((res) => {
          this.ikhwan = res.data.value
        })
        .catch((err) => {
          console.error(err)
        })
    },
    fetchBanner() {
      this.$badaso.$content
        .fetch({ slug: 'sidebar-banner' })
        .then((res) => {
          this.banner.url = res.data.value.url.data
          this.banner.image = res.data.value.image.data
        })
        .catch((err) => {
          console.error(err)
        })
    },
  },
}
</script>
