<template>
  <v-row>
    <v-col cols="12">
      <v-breadcrumbs
        :items="breadcrumb"
        class="page-details__breadcrumb--padding"
      >
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item :to="item.href" :disabled="item.disabled">
            {{ item.text }}
          </v-breadcrumbs-item>
        </template>
        <template v-slot:divider>
          <v-icon size="8">fas fa-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
    </v-col>
    <v-col cols="12">
      <h1 class="mb-2">Disclaimer</h1>
      <p v-for="d, index in disclaimer" :key="index" v-html="d.data" class="text-justify"></p>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      breadcrumb: [
        { text: 'Home', disabled: false, href: '/' },
        { text: 'Disclaimer', disabled: true },
      ],
      disclaimer: {}
    }
  },
  mounted() {
    this.fetchDisclaimer()
  },
  methods: {
    fetchDisclaimer() {
      this.$badaso.$content.fetch({
        slug: 'disclaimer'
      })
        .then(res => {
          this.disclaimer = res.data.value
        })
        .catch(err => {
          console.log(err);
        })
    }
  }
}
</script>