<template>
  <v-row>
    <v-col
      v-for="index in getSkeletonColumn"
      v-show="loading"
      :key="'skeleton-' + index"
      class="news-card__skeleton--column"
    >
      <v-sheet>
        <v-fade-transition group mode="out-in">
          <v-skeleton-loader
            key="skeleton"
            type="image, heading@2, text"
            class="news-card__skeleton"
            :loading="loading"
          >
          </v-skeleton-loader>
        </v-fade-transition>
      </v-sheet>
    </v-col>
    <v-col
      v-for="(post, index) in posts.data"
      v-show="!loading"
      :key="index"
      :cols="getColumn"
    >
      <v-card v-show="!loading" color="transparent" flat rounded="0">
        <v-image-default
          :height="getImageSize"
          :src="post.thumbnail"
          class="news-card__image--title"
        >
          <v-chip
            v-if="post.category"
            class="news-card__image--chip"
            small
            color="#005801"
            label
            :to="$ufo.joinURL('category', post.category.slug)"
          >
            {{ post.category.title }}
          </v-chip>
        </v-image-default>
        <v-card-title class="news-card__text--title">
          <NuxtLink
            :to="{
              name: 'slug',
              params: { slug: post.slug, title: post.title },
            }"
          >
            <span>{{ post.title }}</span>
          </NuxtLink>
        </v-card-title>
        <v-card-subtitle class="news-card__text--subtitle">
          <v-icon size="12">far fa-clock</v-icon>
          <small>{{
            $moment(post.publishedAt).format('DD MMMM YYYY').toUpperCase()
          }}</small>
        </v-card-subtitle>
      </v-card>
    </v-col>
    <v-col cols="12">
      <v-pagination
        v-model="page"
        :length="posts.lastPage"
        total-visible="7"
        prev-icon="fas fa-chevron-left"
        next-icon="fas fa-chevron-right"
        class="news-card__pagination"
        color="info"
        @input="scrollToTop"
      ></v-pagination>
    </v-col>

    <transition name="fade-transition">
      <div v-if="popup" class="main__popup">
        <div v-click-outside="closePopup" class="main__popup--body">
          <v-badge
            class="main__popup--close-button"
            color="info"
            @click.native="closePopup"
          >
            <template #badge>
              <v-icon size="25" color="black" class="fas fa-times" />
            </template>
          </v-badge>

          <!-- PLACE THE IMAGE URL IN SRC ATTRIBUTE -->
          <v-image-default
            class="transparent"
            height="100%"
            :src="popupData.data"
            :load="() => (popupLoading = true)"
          >
            <v-skeleton-loader
              v-if="!popupLoading"
              type="image"
              height="100%"
              transition="fade-transition"
            ></v-skeleton-loader>
          </v-image-default>
        </div>
      </div>
    </transition>
  </v-row>
</template>

<script>
import VImageDefault from '~/components/base/v-image-default.vue'
export default {
  components: { VImageDefault },
  data() {
    return {
      page: 1,
      posts: {
        data: [],
      },
      loading: true,
      popupLoading: false,
      popup: false,
      popupData: {
        data: '',
      },
      banner: {
        url: '',
        image: '',
      },
    }
  },
  head: {
    title: 'Persatuan Islam',
  },
  computed: {
    isTouch() {
      return this.$breakpoints.sMd
    },
    getSkeletonColumn() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 4
        case 'sm':
          return 4
        case 'md':
          return 3
        default:
          return 3
      }
    },
    getColumn() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 12
        case 'sm':
          return 6
        case 'md':
          return 4
        default:
          return 4
      }
    },
    getImageSize() {
      switch (this.$breakpoints.current) {
        case 'xs':
          return 175
        case 'sm':
          return 125
        case 'md':
          return 150
        case 'lg':
          return 150
        default:
          return 200
      }
    },
  },
  watch: {
    page: {
      handler() {
        this.fetchPosts()
      },
    },
  },
  mounted() {
    this.fetchPopup()
    this.fetchPosts()
    this.popup = true
  },
  methods: {
    fetchPosts() {
      this.loading = true
      this.$badaso.$post
        .browse({ page: this.page, limit: 12 })
        .then((res) => {
          this.posts = res.data.posts
        })
        .catch((err) => {
          console.error(err)
        })
        .finally(() => {
          this.loading = false
        })
    },
    fetchPopup() {
      this.$badaso.$content
        .fetch({ slug: 'popup' })
        .then((res) => {
          this.popupData = res.data.value.popup
        })
        .catch((err) => {
          console.error(err)
        })
    },
    scrollToTop() {
      window.scrollTo(0, 0)
    },
    closePopup() {
      this.popup = false
    },
  },
}
</script>
