<template>
  <v-row>
    <v-col cols="12">
      <v-breadcrumbs
        :items="breadcrumb"
        class="page-details__breadcrumb--padding"
      >
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item :to="item.href" :disabled="item.disabled">
            {{ item.text }}
          </v-breadcrumbs-item>
        </template>
        <template v-slot:divider>
          <v-icon size="8">fas fa-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
    </v-col>
    <v-col cols="12">
      <h1 class="mb-2">Kontak Kami</h1>
      <h3 class="mb-2">{{ kontakKami.alamatKantor.label }}</h3>
      <v-row class="mb-6">
        <v-col
          cols="12"
          md="4"
          v-for="(d, index) in kontakKami.alamatKantor.data"
          :key="index"
        >
          <v-card outlined>
            <v-card-subtitle>{{ d.data }}</v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
      <h3 class="mb-2">{{ kontakKami.email.label }}</h3>
      <v-row class="mb-6">
        <v-col
          cols="12"
          md="4"
          v-for="(d, index) in kontakKami.email.data"
          :key="index"
          v-if="d.data"
        >
          <v-card outlined>
            <v-card-subtitle>{{ d.data }}</v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
      <h3 class="mb-2">{{ kontakKami.teleponFax.label }}</h3>
      <v-row class="mb-6">
        <v-col
          cols="12"
          md="4"
          v-for="(d, index) in kontakKami.teleponFax.data"
          :key="index"
          v-if="d.data.telepon.data"
        >
          <v-row>
            <v-col>
              <v-card outlined>
                <v-card-title>Telepon</v-card-title>
                <v-card-subtitle>{{ d.data.telepon.data }}</v-card-subtitle>
              </v-card>
            </v-col>
            <v-col>
              <v-card outlined>
                <v-card-title>Fax</v-card-title>
                <v-card-subtitle>{{ d.data.fax.data }}</v-card-subtitle>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      breadcrumb: [
        { text: 'Home', disabled: false, href: '/' },
        { text: 'Kontak Kami', disabled: true },
      ],
      kontakKami: {},
    }
  },
  mounted() {
    this.fetchKontakKami()
  },
  methods: {
    fetchKontakKami() {
      this.$badaso.$content
        .fetch({
          slug: 'kontak-kami',
        })
        .then((res) => {
          this.kontakKami = res.data.value
        })
        .catch((err) => {
          console.log(err)
        })
    },
  },
}
</script>