<template>
  <v-row>
    <v-col cols="12">
      <h2 class="text-uppercase text-center">LIVE STREAMING PERSIS.OR.ID</h2>
    </v-col>
    <v-col cols="12">
      <v-img :aspect-ratio="16 / 9" class="grey lighten-3">
        <iframe
          width="100%"
          height="100%"
          :src="url"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen=""
        ></iframe>
      </v-img>
    </v-col>
    <v-col cols="12">
      <h3 class="text-uppercase mb-2">Dukung Terus Media Dakwah Persatuan Islam</h3>
      <v-row dense>
        <v-col v-for="item, index in items" :key="index">
          <v-btn
            :href="item.data.url.data.url"
            plain
            target="_blank"
          >
            <v-icon class="mr-4">{{ item.data.icon.data }}</v-icon>
            {{ item.data.url.data.text }}
          </v-btn>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "LiveStreaming",
  head() {
    return {
      title: 'Live Streaming',
    }
  },
  data() {
    return {
      items: [],
      url: null
    }
  },
  mounted() {
    this.fetchContent()
  },
  methods: {
    fetchContent() {
      this.$badaso.$content.fetch({
        slug: 'live-streaming'
      })
      .then(res => {
        this.items = []
        this.items.push(...Object.values(res.data.value.persisTv.data))
        this.items.push(...Object.values(res.data.value.persisPhotography.data))
        this.url = res.data.value.liveStreamingUrl.data

      })
      .catch(err => {
        console.error(err);
      })
    }
  },
}
</script>
