<template>
  <v-row>
    <v-col cols="12">
      <v-breadcrumbs
        :items="breadcrumb"
        class="page-details__breadcrumb--padding"
      >
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item :to="item.href" :disabled="item.disabled">
            {{ item.text }}
          </v-breadcrumbs-item>
        </template>
        <template v-slot:divider>
          <v-icon size="8">fas fa-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
    </v-col>
    <v-col cols="12">
      <h1 class="mb-2">Redaksi</h1>
      <template v-for="r, index in redaksi">
        <h3 :key="`label-${index}`" class="mb-2">{{ r.label }}</h3>
        <v-row :key="`row-${index}`" class="mb-6">
          <v-col cols="12" md="4" v-for="d, index in r.data" :key="index">
            <v-card outlined>
              <v-card-subtitle>{{ d.data }}</v-card-subtitle>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      breadcrumb: [
        { text: 'Home', disabled: false, href: '/' },
        { text: 'Redaksi', disabled: true },
      ],
      redaksi: {}
    }
  },
  mounted() {
    this.fetchRedaksi()
  },
  methods: {
    fetchRedaksi() {
      this.$badaso.$content.fetch({
        slug: 'redaksi'
      })
        .then(res => {
          this.redaksi = res.data.value
        })
        .catch(err => {
          console.log(err);
        })
    }
  }
}
</script>